In [ ]:
pip install pandas xlrd

In [2]:
import pandas as pd
import xlrd

In [3]:
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
data_df = pd.read_excel(url)

In [ ]:
data_df.Date.str.replace("-", " ")

In [16]:
data_df.Date.str.replace("_", " ")

0       15 Mar 2024
1       04 Mar 2024
2       02 Mar-2024
3       25 Feb-2024
4       14 Feb-2024
           ...
6964            NaN
6965            NaN
6966            NaN
6967            NaN
6968            NaN
Name: Date, Length: 6969, dtype: object

In [ ]:
data_df.Date.str.rstrip()
data_df.Date.str.lstrip()

In [12]:
data_df.Date.str.strip()

0       15 Mar 2024
1       04 Mar 2024
2       02 Mar-2024
3       25 Feb-2024
4       14 Feb-2024
           ...
6964            NaN
6965            NaN
6966            NaN
6967            NaN
6968            NaN
Name: Date, Length: 6969, dtype: object