In [1]:
pip install pandas xlrd

Requirement already satisfied: pandas in c:\users\anano\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: xlrd in c:\users\anano\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anano\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anano\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anano\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anano\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anano\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

df_sharkattack= pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')
df_sharkattack.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


Inicio del proceso de limpieza:
Quitamos las filas (variables) y columnas (datos segun fecha) que no vamos a necesitar para el análisis de nuestro proyecto.
Al tratarse de un proyecto de venta de pulseras anti ataque de tiburones, no consideramos necesario tener datos de siglos pasados, 
necesitamos tener una tendencia de los datos para poder analizarlos, por ello y por tener un considerable numero de datos
hemos decidido quedarnos con los datos a partir de la decada de los 60, podriamos quedarnos con los datos desde 1900, pero no aportan un 
gran valor al analisis y además, están bastante incompletos.

In [2]:
#miro el numero de filas y columnas totales

df_sharkattack.shape #el resultado es 6969, 23 siendo 0 el indice habria 6968 filas y 22 columnas
# reviso que datos hay en la ultima fila dado que no aparecen en el excel

(6969, 23)

In [3]:
df_sharkattack.tail(1) #esto me hace comprobar que hay filas completamente nulas y por eso no aparecen en el excel y a su vez
                        # somos conscientes de que si no se comprobase seguiriamos teniendo valores nulos que no aportan ningun valor en el data frame

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Crear una lista de índices desde fila 4402 hasta el numero total de filas (incluyendo esa fila)
filas_a_eliminar = list(range(4402, 6969))

In [5]:
#Utilizamos la funcion drop para poder quitar las filas que no necesitamos a traves de la variable anterior

df_sharkattack = df_sharkattack.drop(filas_a_eliminar)

In [6]:
# Compruebo que haya variado el numero de filas a 4402 (hay que tener en cuenta que el indice empieza por 0)

df_sharkattack.shape #comprobado todo está correcto

(4402, 23)

'''A continuación, vamos a quitar las columnas que no son necesarias para nuestro análisis:
        En primer lugar, vamos a comprobar y quitar las columnas que solo están compuestas de valores nulos
        
        En segundo lugar, vamos a quitar las columnas de las variables type,name,injury,time,source que no necesitamos para nuestro analisis 
        al tener datos que no vemos que influya en las ventas
'''

In [7]:
#df_sharkattack.info()
columnas_nulas_completas = df_sharkattack.columns[df_sharkattack.isnull().all()]
columnas_nulas_completas # con ella vemos que solo hay una columna sin ningun dato unnamed 22 que está en la fila 22

# Count the number of null values in each column
df_sharkattack.isna().sum()

Date                 0
Year                 1
Type                14
Country             11
State              209
Location           250
Activity           282
Name                96
Sex                299
Age               1262
Injury              18
Unnamed: 11        327
Time              1607
Species           1598
Source              14
pdf                142
href formula       147
href               145
Case Number        143
Case Number.1      144
original order     142
Unnamed: 21       4401
Unnamed: 22       4402
dtype: int64

In [16]:
df_sharkattack.columns = df_sharkattack.columns.str.lower().str.replace(" ","_").str.replace(".","_").str.replace(":","").str.strip()
df_sharkattack = df_sharkattack.rename(columns={"species_" : "species"})
df_sharkattack.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4402 entries, 0 to 4401
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4402 non-null   object
 1   year            4401 non-null   float64
 2   type            4388 non-null   object
 3   country         4391 non-null   object
 4   state           4193 non-null   object
 5   location        4152 non-null   object
 6   activity        4120 non-null   object
 7   name            4306 non-null   object
 8   sex             4103 non-null   object
 9   age             3140 non-null   object
 10  injury          4384 non-null   object
 11  unnamed_11      4075 non-null   object
 12  time            2795 non-null   object
 13  species         2804 non-null   object
 14  source          4388 non-null   object
 15  pdf             4260 non-null   object
 16  href_formula    4255 non-null   object
 17  href            4257 non-null   object
 18  case_number     4259 non-null   object
 19  case_number_1   4258 non-null   object
 20  original_order  4260 non-null   float64
 21  unnamed_21      1 non-null      object
 22  unnamed_22      0 non-null      object
dtypes: float64(2), object(21)
memory usage: 791.1+ KB

In [18]:
df_sharkattack.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed_11', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number_1',
       'original_order', 'unnamed_21', 'unnamed_22'],
      dtype='object')

In [20]:
df_sharkattack

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href_formula,href,case_number,case_number_1,original_order,unnamed_21,unnamed_22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,11-Jan-1963,1963.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Peace Cottage, Umdhloti","Free diving, hunting crayfish",Barry E. Blackmore,M,27,...,1 m shark,"D. Davies, D'Aubrey; B. Blackmore; M. Levine, ...",1963.01.11-Blackmore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.11,1963.01.11,2545.0,NaN,NaN
4398,06-Jan-1963,1963.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Selection Reef, Umdhloti",Spearfishing,Clive Passmore,M,24,...,"Zambesi shark, 2 m [6'9""]","D. Davies, p.117-118; C. Passmore, M. Levine, ...",1963.01.06-Passmore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.06,1963.01.06,2544.0,NaN,NaN
4399,04-Jan-1963,1963.0,Provoked,AUSTRALIA,South Australia,Off Franklin Island between Streaky Bay & Ceduna,Shark fishing,"boat, occupants: Alf Dean, Jack Hood & Otto Bells",NaN,NaN,...,"White shark, 16', 2,312-lb",SAF Case #1184,1963.01.04-AlfDean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.04,1963.01.04,2543.0,NaN,NaN
4400,Jan-1963,1963.0,Watercraft,MOZAMBIQUE,NaN,"Limpopo River, 547 km from the sea",NaN,"Canoe, occupant: Jopie Averes",NaN,NaN,...,Zambesi shark,"D. Davies, p.185; GSAF",1963.01.00-JopieAveres.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.00,1963.01.00,2542.0,NaN,NaN
4401,Early 1963,1963.0,Unprovoked,FIJI,Vita Levu,Korolevu (South coast between Nadi & Suva),NaN,NaN,NaN,NaN,...,NaN,"S. Brown, P. Helfrich",1963.00.00.b-NV-Fiji.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.00.00.b,1963.00.00.b,2541.0,NaN,NaN