In [229]:
import pandas as pd
# Ruta al archivo .xls
archivo_xls = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'

# Leer el archivo .xls
df = pd.read_excel(archivo_xls)

df = df.drop(columns=['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1','original order', 'Unnamed: 21', 'Unnamed: 22'], axis=1)

# Mostrar las primeras filas del DataFrame
print(df.head())

          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

                                     Injury Unnamed: 11   Time  \
0  Minor injuries to back, abdomen and legs         NaN  16h00
1            No injury, shark bit surfboard           N    NaN
2                  Lacerations to left foot           N  13h30
3                                Leg bitten           N  11h30
4            Calf of lower left leg injured           N    NaN

         Species                      Source
0     Tiger shark      Yahoo News, 3/15/2024
1  Tiger shark 8'          Surfer, 3/6/2024F
2  3' to 4' shark  Hawaii News Now, 3/4/2024
3     Tiger shark        WA Today, 2/26/2024
4  Bull shark, 7'  Times of India, 2/14/2024

In [230]:
df.shape

(6969, 15)

In [231]:
delete = ['Type', 'Name', 'Injury', 'Time', 'Source']

df = df.drop(columns=delete, axis=1)

# Mostrar las primeras filas del DataFrame
print(df.head())

          Date    Year    Country              State  \
0  15 Mar 2024  2024.0  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0        USA             Hawaii
2  02 Mar-2024  2024.0        USA             Hawaii
3  25 Feb-2024  2024.0  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0      INDIA        Maharashtra

                           Location  Activity Sex  Age Unnamed: 11  \
0                     Bargara Beach  Swimming   F   13         NaN
1                Old Man's, Waikiki   Surfing   M  NaN           N
2                    Rainbows, Oahu  Swimming   F   11           N
3        Sandlnd Island, Jurian Bay       NaN   F   46           N
4  Vaitarna River, Palghar District   Fishing   M   32           N

         Species
0     Tiger shark
1  Tiger shark 8'
2  3' to 4' shark
3     Tiger shark
4  Bull shark, 7'

In [232]:
df = df.loc[:4403]

In [233]:
df.shape

(4404, 10)

In [234]:
df.keys()

Index(['Date', 'Year', 'Country', 'State', 'Location', 'Activity', 'Sex',
       'Age', 'Unnamed: 11', 'Species '],
      dtype='object')

In [235]:
df['Country'].value_counts()

Country
USA                               1994
AUSTRALIA                          781
SOUTH AFRICA                       421
BAHAMAS                            118
BRAZIL                             113
                                  ...
HONDURAS                             1
COMOROS                              1
KIRIBATI                             1
URUGUAY                              1
FEDERATED STATES OF MICRONESIA       1
Name: count, Length: 145, dtype: int64

In [236]:
# We can delete the contries that have less than 13 attack
def delete_country(df):
    df = df[df['Country'].map(df['Country'].value_counts()) > 12]
    return df

df = delete_country(df)

df['Country'].value_counts()

Country
USA                 1994
AUSTRALIA            781
SOUTH AFRICA         421
BAHAMAS              118
BRAZIL               113
NEW ZEALAND           86
MEXICO                63
NEW CALEDONIA         57
REUNION               56
PAPUA NEW GUINEA      45
EGYPT                 38
FIJI                  37
FRENCH POLYNESIA      32
MOZAMBIQUE            28
ITALY                 27
JAPAN                 23
SPAIN                 23
PHILIPPINES           23
HONG KONG             21
Name: count, dtype: int64

In [237]:
df['Country'].value_counts().shape

(19,)

In [238]:
df['State'].value_counts()

State
Florida                    1038
Hawaii                      260
New South Wales             257
California                  249
Queensland                  180
                           ...
Western  Australia            1
Northern Bahamas              1
Tokyo Bay                     1
Samoa                         1
Lomaiviti  Island Group       1
Name: count, Length: 300, dtype: int64

In [239]:
# We can delete the states that have less than 16 attack
copy = df.copy()
def delete_state(df):
    df = df[df['State'].map(df['State'].value_counts()) > 15]
    return df

df = delete_state(df)
print(df['State'].value_counts().shape)

df['State'].value_counts()

(22,)

State
Florida                  1038
Hawaii                    260
New South Wales           257
California                249
Queensland                180
Western Australia         172
Western Cape Province     148
Eastern Cape Province     133
KwaZulu-Natal             127
South Carolina            123
North Carolina             97
Pernambuco                 79
South Australia            69
Texas                      55
Victoria                   50
North Island               41
Oregon                     31
South Island               29
Abaco Islands              27
Tasmania                   22
New York                   19
South Province             16
Name: count, dtype: int64

In [240]:
df.shape

(3222, 10)

In [223]:
df['Location'].value_counts()

Location
New Smyrna Beach, Volusia County                  190
Daytona Beach, Volusia County                      29
Ponce Inlet, Volusia County                        28
Myrtle Beach, Horry County                         22
Melbourne Beach, Brevard County                    20
                                                 ...
Cottesloe Beach                                     1
Seaside                                             1
Cape Canaveral                                      1
Elwood Beach                                        1
Shark tank at Oceanographic Research Institute      1
Name: count, Length: 2104, dtype: int64

In [244]:
# We can delete the location that have less than 13 attack
#copy = df.copy()
def delete_location(df):
    df = df[df['Location'].map(df['Location'].value_counts()) > 6]
    return df

df = delete_location(df)
print(df['Location'].value_counts().shape)

df['Location'].value_counts()

(25,)

Location
new smyrna beach, volusia county                   188
boa viagem, recife                                  37
daytona beach, volusia county                       29
ponce inlet, volusia county                         27
myrtle beach, horry county                          22
melbourne beach, brevard county                     20
cocoa beach, brevard  county                        18
isle of palms, charleston county                    14
cocoa beach, brevard county                         13
ponce inlet, new smyrna beach, volusia county       12
jacksonville beach, duval county                    12
piedade                                             12
juno beach, palm beach county                       10
mossel bay                                          10
singer island, riviera beach, palm beach county     10
ormond beach, volusia county                        10
boa viagem beach, recife                             9
nahoon                                               9
palm beach, palm beach county                        9
florida keys, monroe county                          9
daytona beach shores, volusia county                 8
nahoon, east london                                  8
vero beach, indian river county                      8
sanibel island, lee county                           7
fort lauderdale, broward county                      7
Name: count, dtype: int64

In [136]:
import re

In [137]:
df.dtypes

Date            object
Year           float64
Country         object
State           object
Location        object
Activity        object
Sex             object
Age             object
Unnamed: 11     object
Species         object
dtype: object

In [245]:
copy = pd.read_excel(archivo_xls) 
df['Location'] = df['Location'].str.lower().str.strip()#.replace(" ", "_")

def correct_name_location(column, patter, sub, df):
    item = 0
    for i in column:
        if type(i) == str:
            matching = re.findall(patter, i)
            #print(matching)
            if len(matching) >= 3:
                print(i)
                #df[sub][item].replace(i, 'boa viagem, recife')
                df.loc[item, sub] = 'boa viagem, recife'
                print(df[sub][item])
        item +=1
    return df

patter = r"\b(boa|viagem|recife)\b"
df = correct_name_location(df['Location'], patter, 'Location', df)

boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem beach, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife
boa viagem, recife

In [243]:
df['Location'].value_counts()

Location
new smyrna beach, volusia county                   188
boa viagem, recife                                  37
daytona beach, volusia county                       29
ponce inlet, volusia county                         27
myrtle beach, horry county                          22
melbourne beach, brevard county                     20
cocoa beach, brevard  county                        18
isle of palms, charleston county                    14
cocoa beach, brevard county                         13
jacksonville beach, duval county                    12
piedade                                             12
ponce inlet, new smyrna beach, volusia county       12
juno beach, palm beach county                       10
mossel bay                                          10
singer island, riviera beach, palm beach county     10
ormond beach, volusia county                        10
boa viagem beach, recife                             9
nahoon                                               9
palm beach, palm beach county                        9
florida keys, monroe county                          9
vero beach, indian river county                      8
daytona beach shores, volusia county                 8
nahoon, east london                                  8
sanibel island, lee county                           7
fort lauderdale, broward county                      7
florida keys                                         6
Name: count, dtype: int64